*.[oa]
*~
*.log
*.incdep
*.19
bin/*
mod/*
metis*
simulations/2layerbox/bin/*
simulations/2layerbox/out2/*
simulations/2layerbox/cubit/cubit*jou
simulations/2layerbox/cubit/absorb
simulations/2layerbox/cubit/coord
simulations/2layerbox/cubit/*pyc
simulations/2layerbox/cubit/free
simulations/2layerbox/cubit/mat
simulations/2layerbox/cubit/matprop
simulations/2layerbox/cubit/mesh
simulations/2layerbox/cubit/mesh.cub
simulations/2layerbox/run.csh.*
src/.project
src/.settings
